* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}
video, canvas {
   height:100%;
    width:100%;
    position: absolute;
}
.frame {
    background: url('../img/frame.png') no-repeat;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100%;
    position: relative;
    background: #eee;
    overflow: hidden;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#bottom{
    position: absolute;
    bottom:0;
    width:100%;
    background-color: #fff;
    display: flex;
    font-size:14px;
    justify-content: space-around;
    align-items: center;
    min-height:50px;
    border:1px solid #BBBBBB;
}
#bottom span{
    display: block;
    height:100%;

}
#bottom span button{
    border:none;
    background-color: #fff;
    cursor: pointer;
    outline: none;
}
#dialog{
    display: none;
    position: fixed;
    width:100%;
    height:100%;
    z-index: 99;
    background-color: rgba(0,0,0,0.5);
}
#dialogBody{
    position:relative;
    max-width:600px;
    max-height:460px;
    width:60%;
    height:60%;
    background-color: #fff;
    margin:15% 0 0 20%;
    text-align: center;
}
#dialogBody div{
    margin-top:10px;
}
#dialogBody label{
    position:absolute;
    width:20px;
    text-align: center;
    height:20px;
    background-color: #fff;
    top:0;
    right:0;
    cursor: pointer;
}
.okInfo{
    display: flex;
    height:40px;
    justify-content: center;
    align-items: center;
}
#face{
    width:100%;
    min-height:50%;
}
.okInfo img{
    width:40px;
    height:40px;
    margin-right:10px;
}
.okInfo span{
    font-size: 16px;
    font-weight: 600;
}
#name{
    font-size: 14px;
    font-weight: 400;
}
#id,#job{
    font-size: 12px;
}
#signInInfo{
    width:100%;height:100%;
    display: block;
}
#lookInfo{
    width:100%;height:100%;
    display: none;
}
#pages{
    width:100%;
    text-align: right;
    position: absolute;
    bottom:5px;
    right:10px;
}
#pages span{
    margin-left:10px;
}
#pages input{
    width:20px;
}
.page{
    cursor: pointer;
}

